html, body {
  height: 100%;
  margin: 0;
  font-family: Arial, sans-serif;
  color: wheat;
  color-scheme: dark;
  font-size: 16px;
}

.container {
  height: 97%;
  width: 99%;
  display: grid;
  grid-template-columns: 70% 30%;
  grid-template-rows: 50% 50%;
  grid-gap: 10px;
  padding: 20px 10px;
  box-sizing: border-box;
}

/* ---------------- PANELS ---------------- */
.panel1,
.panel2,
.panel3 {
  border: 4px inset #000;
  border-radius: 6px;
  padding: 10px;
  background-color: #222;
  overflow-y: scroll;
}

.panel1 {
  grid-column: 1 / 2;
  grid-row: 1 / 3;
  display: flex;
  flex-direction: column;
}

.panel2 {
  grid-column: 2 / 3;
  grid-row: 1 / 2;
}

.panel3 {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
}

.panel1 h2,
.panel2 h2,
.panel3 h2 {
  margin-top: 0;
  color: beige;
}

#console p {
  margin: 0;
  padding: 0;
  font-family: 'Courier New', Courier, monospace;
  color: lightgreen;
}

#tab-container {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}

/* ---------------- BUTTONS ---------------- */
.tab button {
  flex-grow: 1;
  border: 3px outset #000;
  outline: none;
  cursor: pointer;
  padding: 6px 16px;
  font-size: 30px;
  color: beige;
  margin: 5px;
  background-color: #1e2422;
  transition: background-color 0.2s ease;
  border-radius: 7px;
  height: 60px;
}

.tab button:hover,
.mod:hover {
  background-color: #363636;
}

.tab button.active {
  color: coral;
}

/* ---------------- MODS ---------------- */
.tabcontent,
.mod {
  color: dimgray;
  border-radius: 8px;
  padding: 6px;
  margin: 5px 15px 5px 0px;
  align-content: center;
  transition: background-color 0.2s;
}

.mod {
  display: flex;
  align-items: center;
  width: 100%;
  border: 2px outset #000;
}

.mod input[type="checkbox"] {
  margin-right: 10px;
  width: 20px;
  height: 20px;
}

.mod label {
  margin: 0;
  color: wheat;
  display: inline-block;
  width: 100%;
}